{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
{% for key,value in reviews %}
Key : {{ key }}
Value : {{ value.name }}
{% endfor %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1><small class="pull-right">45 comments</small> Comments </h1>
            </div>
            <div class="comments-list">
                <div class="media">
                    <p class="pull-right"><small>5 days ago</small></p>
                    <div class="media-body">
                        <h4 class="media-heading user_name">Baltej Singh</h4>
                        Wow! this is really great.
                    </div>
                </div>
                <div class="media">
                    <p class="pull-right"><small>5 days ago</small></p>
                    <div class="media-body">
                        <h4 class="media-heading user_name">Baltej Singh</h4>
                        Wow! this is really great.
                    </div>
                </div>
                <div class="media">
                    <p class="pull-right"><small>5 days ago</small></p>
                    <div class="media-body">
                        <h4 class="media-heading user_name">Baltej Singh</h4>
                        Wow! this is really great.
                    </div>
                </div>
                <div class="media">
                    <p class="pull-right"><small>5 days ago</small></p>
                    <div class="media-body">
                        <h4 class="media-heading user_name">Baltej Singh</h4>
                        Wow! this is really great.
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

{% endblock %}
